
.myBackground{
    background-image: url("images/conceito-de-globalizacao-internacional-global-do-mapa-do-mundo.jpg");
    background-size: cover;
}
.ratio-4x3 {
@include media-breakpoint-up(md) {
    --bs-aspect-ratio: 50%; // 2x1
  }
}
.body-color{
    background-image: linear-gradient(to top, #e2f3e9 0%,   #f4fafa 100%);
}
.title{
    color: rgb(142, 12, 12);
    font-size: 30px;
}
.whats-img .photo{
    width: 100px;
    height: 100px;
}
.button{
    color: white;

}
.asidebarfixo{
    position: fixed;
    top:0%;
    left: 0%;
    bottom: 0%;
}