.bt123 {
    display: flexbox;
    padding: 0px 10px;
    margin-bottom: 20px;
}

.myBackground{
    background-image: url(https://travel.state.gov/apps/tsg-rwd/components/content/resources/Asset4.png);
    height: 200px;
    width: auto; }

.body{
    background-image: linear-gradient(to top, #e2f3e9 0%,   #f4fafa 100%);
}
.title{
    color: rgb(142, 12, 12);
    font-size: 30px;
}
.whats-img{
    width: 100px;
    height: 100px;
}